<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>求人広告を掲載 | 求人検索エンジン スタンバイ</title>
  <link rel="stylesheet" href="<%- revAssets('stylesheets/lp/stanby-lp-styleguide.css') %>">
  <link rel="stylesheet" href="<%- revAssets('stylesheets/lp/stanby-lp-design.css') %>">
  <link rel="stylesheet" href="<%- revAssets('stylesheets/lp/stanby-lp-sp.css') %>" media="screen and (max-width: 768px)">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-ie8.css') %>">
  <script src="<%- revAssets('scripts/vendor_js/html5shiv.js') %>"></script>
  <script src="<%- revAssets('scripts/vendor_js/respond.js') %>"></script>
  <script src="<%- revAssets('scripts/vendor_js/es5-shim.js') %>"></script>
  <![endif]-->
  <link rel="icon" href="<%- revAssets('favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" href="<%- revAssets('images/lp/apple-touch-icon.png') %>">
  <script src="<%- revAssets('scripts/vendor_js/jquery.min.js') %>"></script>
  <script src="<%- revAssets('scripts/lp-page.js') %>"></script>
</head>
<body>
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T5GK3V" class="pg-google-tag-manager"></iframe>
</noscript>
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
    {'gtm.start': new Date().getTime(),event:'gtm.js'}
  );var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T5GK3V');
</script>

<div class="sg-wrapper">

  <header>
    <div class="pg-container cf">
      <p class="pg-header_logo fl"><a href="https://jp.stanby.com">スタンバイ</a></p>
      <p class="pg-login fr"><a href="/login">登録企業ログイン</a></p>
    </div>
  </header>

  <main>
    <section class="pg-lp-title">
      <div class="pg-container cf">
        <div class="pg-lp-title-copy">
          <h1><i class="nobr">スタンバイ<span>Recruiting</span></i><span class="pg-lp-title-explain"><span class="pg-lp-title-explain-txt">広告掲載費</span>も<span class="pg-lp-title-explain-txt">採用成約費</span>も</span><span class="pg-lp-title-price"><span class="pg-lp-title-price-num">0</span><span class="pg-lp-title-price-yen">円</span></span></h1>
          <p class="pg-lp-btn"><a href="/signup" class="pg-button">無料で登録</a></p>
          <ul class="pg-lp-title-link cf">
            <li><a class="pg-lp-title-link-account" href="/">登録済みの企業様はこちら</a></li>
            <li><a class="pg-lp-title-link-contact" href="/contact">お問い合わせはこちら</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="pg-container">
        <h2>スタンバイ メディア掲載情報</h2>
        <dl id="jsi-lp-news" class="pg-lp-news cf">
          <dt>2015年6月12日</dt>
          <dd><a href="http://www.nhk.or.jp/ohayou/marugoto/2015/06/0612.html" target="_blank">NHKニュースおはよう日本でスタンバイが紹介されました。「中小企業が注目"インターネット求人"」</a></dd>
          <dt>2015年5月27日</dt>
          <dd><a href="https://newspicks.com/news/984139/body?ref=top-news" target="_blank">NewsPicksで紹介されました。「起業家としての大勝負。「採用ゼロ円」化で、人材版のグーグル狙う」</a></dd>
          <dt>2015年5月27日</dt>
          <dd><a href="http://bylines.news.yahoo.co.jp/yoshidahiroki/20150527-00046063/" target="_blank">Yahoo!ニュースで紹介されました。「地方や中小企業を支える新たな採用サービスが誕生〜ビズリーチの試み〜」</a></dd>
          <dt>2015年5月26日</dt>
          <dd><a href="http://www.tv-tokyo.co.jp/mv/wbs/newsl/post_90634/" target="_blank">テレビ 東京ワールドビジネスサテライトで「スタンバイ」が紹介されました。「”採用コスト”ゼロ円サービス」</a></dd>
        </dl>
        <p><a id="jsi-lp-news-opener" href="javascript:void(0);" class="sg-button secondary transparent">続きを見る</a></p>
      </div>
    </section>

    <section class="cf">
      <div class="pg-container pg-lp-introduction">
        <ul class="pg-lp-feature">
          <li>
            <h2>素早く</h2>
            <ul class="pg-lp-feature-txt">
              <li>最短5分で登録可能</li>
              <li>最短即日公開</li>
            </ul>
          </li>
          <li>
            <h2>手軽に</h2>
            <ul class="pg-lp-feature-txt">
              <li>ITに関する専門知識不要</li>
              <li>スマホページを自動で生成</li>
            </ul>
          </li>
          <li>
            <h2>自由に</h2>
            <ul class="pg-lp-feature-txt">
              <li>ロゴや写真も掲載可能</li>
              <li>掲載できる求人数は無制限</li>
            </ul>
          </li>
        </ul>
        <div class="pg-lp-title-movie">
          <a href="javascript:void(0);" id="jsi-youtube-content">
            <figure>
              <img src="<%- revAssets('images/lp/pg.movie.img.png') %>" alt="一分でわかる！スタンバイRecruiting">
              <figcaption>一分でわかる！<i class="nobr">スタンバイRecruiting</i></figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>

    <section>
      <div class="pg-container">
        <h2><i class="nobr">スタンバイ<span>Recruiting</span></i>とは</h2>
        <div class="pg-lp-system cf">
          <article class="fl">
            <h3><i class="nobr">スタンバイ<span>Recruiting</span></i>は、無料で簡単な採用サービス。<br>求人情報の作成・公開・管理がこれ一つで実現できます</h3>
            <p>無料で求人情報を作成・公開・管理でき、採用時の手数料も必要ありません。<br>すべてのサービスを無料で利用できます。<br>大企業から中小企業すべての企業をサポートし、<br>正社員からアルバイトまであらゆる雇用形態の募集を行うことができます。</p>
          </article>
          <figure class="fr">
            <img src="<%- revAssets('images/lp/feature_system.png') %>" height="106" width="271" alt="スタンバイ採用管理システム">
          </figure>
        </div>
      </div>
    </section>

    <section class="pg-lp-usage">
      <div class="pg-container">
        <h2><i class="nobr">スタンバイ<span>Recruiting</span></i>の利用イメージ</h2>
        <div class="pg-lp-usage-inner cf">
          <article class="fr">
            <h3><span>素早く</span></h3>
            <p>求人情報を管理画面に入力するだけで、<br>わずか5分程度でも求人作成が可能です。<br>インターネット上には最短即日で公開され、<br>応募管理も可能です。</p>
          </article>
          <figure class="fl">
            <img src="<%- revAssets('images/lp/feature_quickly.png') %>" alt="素早い採用">
          </figure>
        </div>

        <div class="pg-lp-usage-inner cf">
          <figure class="fr">
            <img src="<%- revAssets('images/lp/feature_easily.png') %>" alt="手軽に採用">
          </figure>
          <article class="fl">
            <h3><span>手軽に</span></h3>
            <p>作成された求人情報ページはパソコンだけでなく、<br>スマートフォン用に自動で最適化されます。<br>ユーザー数が増加しているスマートフォンでも<br>見やすいページが生成されます。</p>
          </article>
        </div>

        <div class="pg-lp-usage-inner cf">
          <article class="fr">
            <h3><span>自由に</span></h3>
            <p>自社のロゴや会社の雰囲気が伝わる写真を<br>自由に掲載することが可能です。<br>また、複数の求人を掲載したい場合も、<br>必要な分だけ求人を作成することができます。</p>
          </article>
          <figure class="fl">
            <img src="<%- revAssets('images/lp/feature_freely.png') %>" alt="自由に採用">
          </figure>
        </div>
      </div>

      <div class="pg-btn-inner pg-container">
        <h2>ぜひ、<i class="nobr">スタンバイ<span>Recruiting</span></i>をご体験ください</h2>
        <a href="/signup" class="pg-button">無料で登録</a>
      </div>
    </section>

    <section class="pg-lp-price-function">
      <div class="pg-container">
        <h2><i class="nobr">スタンバイ<span>Recruiting</span></i>の費用と機能</h2>
        <div class="pg-lp-price cf">
          <p class="fl"><span class="pg-lp-title-price-num">0</span><span class="pg-lp-title-price-yen">円</span></p>
          <article class="fl">
            <h3><i class="nobr">スタンバイ<span>Recruiting</span></i>は<br>全ての機能が無料です</h3>
            <ul>
              <li>広告掲載費0円</li>
              <li>採用成約費0円</li>
            </ul>
          </article>
        </div>

        <div class="pg-lp-function">
          <ul>
            <li>
              <h3>求人の掲載数無制限</h3>
              <p>求人情報の掲載数は無制限です。<br>また、公開した求人情報の掲載期限は自由に設定できます。</p>
            </li>
            <li>
              <h3>最短で即日公開</h3>
              <p>求人情報の入力にかかる時間は、最短5分。作成した求人情報は、インターネット上で、最短即日公開されます。</p>
            </li>
            <li>
              <h3>自由なカスタマイズ</h3>
              <p>求人情報公開後も、<br>いつでも情報の編集ができます。<br>編集は何度でも可能です。</p>
            </li>
            <li>
              <h3>求人情報の管理</h3>
              <p>作成した求人情報を一覧で確認できます。<br>複数の求人情報の管理を手軽にし、管理の手間を削減します。</p>
            </li>
            <li>
              <h3>履歴書の管理</h3>
              <p>履歴書の受付・確認も、<i class="nobr">スタンバイRecruiting</i>の画面上で行えます。各求職者の履歴書も簡単に比較できます。</p>
            </li>
            <li>
              <h3>求職者情報の管理</h3>
              <p>求職者の情報を一覧で確認できます。<br>それにより、求職者の比較を簡単にし、優秀な求職者の選考漏れを防ぎます。</p>
            </li>
            <li>
              <h3>選考管理</h3>
              <p>面接日、面接担当、選考状況などの情報を一覧で確認できます。<br>求職者の情報と評価の共有を簡単に行えます。</p>
            </li>
            <li>
              <h3>スマホへの対応</h3>
              <p>PCで作成した求人情報も、スマホ用に自動で最適化されます。<br>より多くの求職者に情報を届けられます。</p>
            </li>
            <li>
              <h3>ロゴ・写真が掲載可能</h3>
              <p>自社のロゴや写真を掲載することができます。<br>会社の雰囲気を伝えることでよりマッチした採用を可能にします。</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pg-btn-inner pg-container">
        <h2>ぜひ、<i class="nobr">スタンバイ<span>Recruiting</span></i>をご体験ください</h2>
        <a href="/signup" class="pg-button">無料で登録</a>
      </div>
    </section>

  </main>

  <footer class="sg-footer">
    <div class="sg-footer-inner sg-container">
      <nav class="sg-footer-nav">
        <ul>
          <li><a href="https://jp.stanby.com/">求人検索トップ</a></li>
          <li><a href="https://r.stanby.com/">スタンバイRecruiting</a></li>
          <li><a rel="nofollow" href="http://www.bizreach.co.jp/" target="_blank">運営会社</a></li>
          <li><a rel="nofollow" href="http://www.bizreach.co.jp/recruit/" target="_blank">採用情報</a></li>
          <li><a href="https://r.stanby.com/contact">お問い合わせ</a></li>
        </ul>
      </nav>
      <p class="sg-footer-copyright"><small>Copyright © BizReach, Inc. All Rights Reserved.</small></p>
    </div>
  </footer>

</div>

</body>
</html>