<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>Stanby Recruiting</title>
	<link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-common.css') %>">
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-styleguide.css') %>">
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-404.css') %>">
	<link rel="shortcut icon" href="<%- revAssets('favicon.ico') %>">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="<%- revAssets('stylesheets/stanby-ie8.css') %>">
  <script src="<%- revAssets('scripts/vendor_js/html5shiv.js') %>"></script>
  <script src="<%- revAssets('scripts/vendor_js/respond.js') %>"></script>
  <script src="<%- revAssets('scripts/vendor_js/es5-shim.js') %>"></script>
  <![endif]-->
</head>
<body>

<section class="pg-404-wrapper">
  <div>
    <h1>
      <span>404</span>
      <span>Page not found</span>
    </h1>
    <h2>ご指定のページが見つかりませんでした</h2>
    <p>ご指定のページは、移動または削除された可能性があります。</p>
    <p>お探しのページが見つからないことでお困りの場合は、<br><a href="/contact">Stanby Recruiting へお問い合わせ</a>ください。</p>
    <p><a href="/">トップページへ戻る</a></p>
  </div>
</section>

<footer class="cm-footer">
  <p>Copyright &copy; BizReach, Inc. All Rights Reserved.</p>
</footer>

</body>
</html>
